*{
  font-family: "jost",sans-serif;
}
body{
  background-color: black;
  box-sizing: border-box;
  color:beige;
}
.col-md-6 center h1{
  margin-top: 1.5rem;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 5px;
  line-height: 3.6rem;

}
#mainbox{
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(93, 121, 214, 0.658);
}
.navbar input{
  border-radius: 25px;
  font-size: x-large;
}
#mainbox i{
  font-size: 50px;
  /* position: absolute; */
  margin-left: 10px;
  /* transform: translateY(-19px); */
  transform: translatex(-15px);
  color: white;
}
.text-light h1{
  font-size: 45px;
  font-weight: 900;
  color: white;
  margin-left: 10px;
  letter-spacing: 2.5px;
}
#maintemp h2{
  font-size: 33px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.63);
  text-shadow: 1px 1px 1px greenyellow;
}
#maintemp h3{
  color: white;
  padding-top: 7 qpx;
}